@tailwind base;
@tailwind components;
@tailwind utilities;

  
body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

::-webkit-scrollbar {
    height:8px;/* Width of the scrollbar */
  }
  
  /* Track (background of the scrollbar) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }